html {
  overflow: scroll;
  margin: auto;
  height: 100%;
  width: auto;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer, 
.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-size: 18px;
  color: #e5e7eb;
  padding: 18px;
}

.footer {
  margin-top: auto;
  justify-content: center;
}

.header {
  flex: 1;
  margin-bottom: auto;
  display: flex;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links a {
  padding: 18px;
  color: #f9faf8;  
}

.section-one {
  background-color: #1f2937;
  flex: 1;
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  padding: 100px;
}

.text-one {
  padding-left: 190px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 18px;
  color: #e5e7eb;
}

.text-one h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.section-one img {
  width: 400px;
  padding-left: 50px;
  margin-right: 125px;
}

button {
  background-color: #3882f6;
  padding: 5px 28px;
  border: 2px solid #3882f6;
  border-radius: 6px;
  color: #f9faf8;
  font-size: 16px;
}

.section-two {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px 100px 0px;
}

.section-two h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.section-two img {
  width: 300px;
  height: auto;
  border: 4px solid #3882f6;
  border-radius: 6px;
  margin: 0px 0px 8px 0px;
}

.images {
  display: flex;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
}

.section-three{
  flex: 1;
  background-color: #e5e7eb;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 600px;
}

.section-three .quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.section-three .quote-speaker {
  margin-left: auto;
  font-weight: 700;
  font-size: 24px;
}

.section-four{
  background-color: #3882F6;
  margin: 100px 200px;
  padding: 50px 100px;
  border-radius: 8px;
  color: #f9faf8;
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-four button {
  border: 2px solid #f9faf8; 
  border-radius: 6px;
}

.section-four .text {
  display: flex;
  flex-direction: column;
}

.section-four .call {
  font-size: 24px;
  font-weight: 700;
}
