body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer, 
.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-size: 18px;
  color: #e5e7eb;
  padding: 18px;
}

.footer {
  margin-top: auto;
  justify-content: center;
}

.header {
  margin-bottom: auto;
  display: flex;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links a {
  padding: 18px;  
}

.section-one {
  background-color: #1f2937;
  flex: 1;
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  padding: 100px;
}

.text-one {
  padding-left: 110px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 18px;
  color: #e5e7eb;
}

.text-one h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.section-one img {
  width: 400px;
  padding-left: 50px;
  margin-right: 125px;
}

button {
  background-color: #3882f6;
  padding: 5px 28px;
  border: 2px solid #3882f6;
  border-radius: 6px;
  color: #f9faf8;
}

.section-two{
  flex: 1;
}

.section-three{
  flex: 1;
}

.section-four{
  flex: 1;
}
